<%- include("header") -%>

<h2>This is the about page</h2>

<p>My name is Mahaveer Rulaniya. I am Full Stack Developer working on different sets of technologies including Node.js, Express, MongoDB, React.js</p>

<%- include("footer") -%>
